@import "../style-vars";

.blob-carousel {
  .carousel {
    $carousel-height: 500px;
    width: 677px;
    height: $carousel-height;
    float: left;

    .carousel-inner {
      height: 100%;
      background-color: $dark-background-color;

      .item {
        height: 100%;
      }
    }

    img {
      max-height: $carousel-height;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
