@import "../style-vars.scss";

.doctor-inbox-container {
  padding-left: $page-margin-size;

  .doctor-inbox-column {

    float: left;
    width: 40%;
    margin-right: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: block;
        border: 1px solid $deemphasized-text-color;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;

        h3 {
          margin: 0;
        }

        .patient-info {
          width: auto;
          margin-bottom: 0;

          tbody {
            tr {
              th, td {
                border: none;
                width: auto;
                vertical-align: middle;
              }

              th {
                margin: 0;
                padding: 5px 15px 5px 0;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                color: $emphasized-text-color;
              }
              td {
                padding: 0;
                font-size: 15px;
                font-weight: 500;
                color: $deemphasized-text-color;
              }
            }
          }
        }
      }

      li:hover {
        a {
          text-decoration: none;
        }

        box-shadow: 3px 3px 5px transparentize($deemphasized-text-color, 0.5);
        border: 1px solid $emphasized-text-color
      }
    }
  }
}
