@import "../style-vars.scss";

.stat-highlight {
  width: 215px;
  border-left: 2px solid $separator-color;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 30px;

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $highlight-color;
  }
}
