@import "../style-vars.scss";

.stats-card {
  width: 750px;
  min-height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #eff3f5;

  h5 {
    margin-top: 5px;
    font-size: 16px;
    color: $emphasized-text-color;
  }

  h6 {
    font-size: 14px;
    font-weight: bold;
    color: $emphasized-text-color;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .arrow-symbol {
    color: $deemphasized-text-color;
  }

  .stat-highlights{
    float: left;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
